page-home {

}

.toolbar-background {
  background: #1A5460;
}

.toolbar-title {
  color: #F47421;
}

.header-logo {
  width: 30px;
  height: 35px;
  float: right;
}

.scroll-content {
  background: #4CAFAC;
  // opacity: 0.3;
}
