page-home {

}

.toolbar-background {
  background: black;
}

.toolbar-title {
  color: green;
}

.header-logo {
  width: 30px;
  height: 35px;
  float: right;
}

.scroll-content {
  background: #011901;
}
